# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

.DS_Store

*.bbl
*.aux
*.bcf
*.blg
*.dvi
*.log
*.out
*.xml
code/target/*

code/*.jpg
*.rar
code/venv/*
*.gplt
code/videos/*

*.tiff
code/old_videos
code/videos/*
code/secrets.json
code/.mypy_cache
*.pyc
code/analysis_scratch/test
*.toc
*.gz
report/src/report-blx.bib
code/darknet/*
ddm_for_pietro
*.mp4
*.icloud
*.avi
*.m4v
*.bin
*.ipch
code/darknet
.mypy_cache
report/src/report 2.synctex(busy)
.ipynb_checkpoints
code/DataExploration/.ipynb_checkpoints/
code/DataExploration/Graphs
