# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

.DS_Store
Code/cmake-build-debug/
Code/CMakeFiles/
Code/cmake_install.cmake
Code/CMakeCache.txt
Code/Code.cbp
Code/Makefile
Code/Code
*.bbl
*.aux
*.bcf
*.blg
*.dvi
*.log
*.out
*.xml
fft/target
*.rar
fft/opencv/*
fft/4.0.1.zip
fft/*.png
fft/*.jpg
