# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

.DS_Store

*.bbl
*.aux
*.bcf
*.blg
*.dvi
*.log
*.out
*.xml
code/target/*
*.png
code/*.jpg
*.rar
code/videos/*
*.mp4
*.avi
code/venv/*
*.m4v
*.gplt
*.tiff
